In [ ]:
light = input("enter the color")
if(light=="red"):
  print("stop")
elif(light=="yellow"):
  print("look")
elif(light=="green"):
  print("go")
else:
  print("light broken")

enter the colorred
stop

In [ ]:
food=input("enter the food")
eat="Yes" if food=="cake" else "no"
print(eat)

enter the foodcake
Yes

In [ ]:
ss="hii iii"
print(ss[3:])

 iii

In [ ]:
list=[56,78,"Harsha"]
print(list)
print(len(list))
l1=[28,56,78,94,27,34]
print(l1[1:4])
print(l1[1:])
print(l1[:4])
print(l1[-4:-1])

l1.append(4)
print(l1)
l1.sort()
print(l1)

l1.sort(reverse=True)
print(l1)

l1.reverse()
print(l1)

l1.insert(1,20)
print(l1)

l1.remove(20)
l1.pop(1)

[56, 78, 'Harsha']
3
[56, 78, 94]
[56, 78, 94, 27, 34]
[28, 56, 78, 94]
[78, 94, 27]
[28, 56, 78, 94, 27, 34, 4]
[4, 27, 28, 34, 56, 78, 94]
[94, 78, 56, 34, 28, 27, 4]
[4, 27, 28, 34, 56, 78, 94]
[4, 20, 27, 28, 34, 56, 78, 94]

In [ ]:
tup=(1,20,19,67,1)

print(tup.index(1))
print(tup.count(1))

0
2

In [ ]:
#WAP to check if a list contains a palindrome of elements. (Hint: use copy( ) method)
l1=[1,2,5,2,1]
print(l1==l1[::-1])
l2=(1,2,5,2,1)
print(l2==l2[::-1])

True
True

In [ ]:
dict={
    "name":"Harsha",
    "gpa":9.6,
    "marks":[9.8,9.7,9.5]
}
dict["name"]="vardhan"
dict["xsurnmae"]="upp"
print(dict)
print(dict.keys())
print(dict.values())
print(dict.items())
print(dict.get("name"))
dict.update({"city":"Hyd"})
print(dict)

{'name': 'vardhan', 'gpa': 9.6, 'marks': [9.8, 9.7, 9.5], 'xsurnmae': 'upp'}
dict_keys(['name', 'gpa', 'marks', 'xsurnmae'])
dict_values(['vardhan', 9.6, [9.8, 9.7, 9.5], 'upp'])
dict_items([('name', 'vardhan'), ('gpa', 9.6), ('marks', [9.8, 9.7, 9.5]), ('xsurnmae', 'upp')])
vardhan
{'name': 'vardhan', 'gpa': 9.6, 'marks': [9.8, 9.7, 9.5], 'xsurnmae': 'upp', 'city': 'Hyd'}

In [ ]:
s = {1, 2, 3, 4, 4, "hello", "hello"}  # sets automatically remove duplicates

print(s)
s.add(5)
print(s)
s.remove(5)
print(s)
s.pop()
print(s)
s.clear()
print(s)

s1={1,2,4}
s2={2,3,5}
print(s1.union(s2))
print(s1.intersection(s2))

{1, 2, 3, 4, 'hello'}
{1, 2, 3, 4, 5, 'hello'}
{1, 2, 3, 4, 'hello'}
{2, 3, 4, 'hello'}
set()
{1, 2, 3, 4, 5}
{2}

In [ ]:
count=1
while count<=5:
  print(count)
  count=count+1

n=int(input("enter the number"))
i=1
while(i<=10):
  print(str(n) + '*' + str(i) + '=' + str(n * i))
  i+=1

list=[1, 4, 9, 16, 25, 36, 49, 64, 81,100]
j=0
while j<len(list):
  print(list[j])
  j+=1

tup=(1, 4, 9, 16, 25, 36, 49, 64, 81,100)
k=0
while k<len(tup):
  if tup[k]==16:
    print(tup[k],k)
  k+=1

1
2
3
4
5
enter the number5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
1
4
9
16
25
36
49
64
81
100
16 3

In [ ]:
list=[1, 4, 9, 16, 25, 36, 49, 64, 81,100]
for el in list:
  print(el)
tup=(1, 4, 9, 16, 25, 36, 49, 64, 81,100)
for el in tup:
  if(el==16):
    print(el)

1
4
9
16
25
36
49
64
81
100
16

In [ ]:
def sum(a,b):
  return a+b
print(sum(3,4))

list=[1, 4, 9, 16, 25, 36, 49, 64, 81,100]
def lens(l):
  print(len(list))
lens(list)

def plist(l):
  for el in l:
    print(el,end=" ")
plist(list)
print()
def fact(n) :
  if n==0 or n==1 :
    return 1
  else :
    return n*fact(n-1)

print(fact(5))

7
10
1 4 9 16 25 36 49 64 81 100
120

In [ ]:
f=open("/content/demo.txt","r")
print(f.read())
f.close()
f=open("/content/demo.txt","w")
f.write("this is a new line")
f.close()
f=open("/content/demo.txt","a")
f.write("\nIm learnig python")
f.close()

this is a new lineIm learnig python

In [ ]:
with open("/content/demo.txt","r") as f:
  print(f.read())
f.close()

this is a new line
Im learnig python

In [ ]:
with open("/content/practice.txt","w") as f:
  f.write("Hi everyone \n we are learning File I/O\n using Java.\n I like programmin in Java.")

In [ ]:
with open("/content/practice.txt","r") as f:
 data=f.read()
new_data=data.replace("Java","python")
print(new_data)

Hi everyone
 we are learning File I/O
 using python.
 I like programmin in python.

In [ ]:
with open("/content/practice.txt","r") as f:
 data=f.read()
 num=""
 for i in range(len(data)):
  if(data[i]==','):
    if num != "" and int(num) % 2 == 0:
      print(num)
    num = ""
  else:
    num += data[i]
if num != "" and int(num) % 2 == 0:
    print(num)

2
4
6
8
10

In [ ]:
class Student:
  name="Harsha"
s1=Student()
print(s1.name)

Harsha

In [ ]:
class Student:
  def __init__ (self,fullname):
    self.name=fullname

  def welcome(self):
    print("welcome "+self.name);

s1=Student("Harsha")
print(s1.name)
s1.welcome()

Harsha
welcome Harsha

In [ ]:
class car:
  def __init__(self,name):
    self.name=name
  def start(self):
    print("car started")
  def stop(self):
    print("Car stoped")
class toyata(car):
  def __init__(self,name):
    self.name=name

c1=toyata("Car1")
c2=toyata("Car2")
c1.start()

car started
None